%p#notice= notice

%p
  %strong Name:
  = @stage.name

%p
  %strong Url:
  = @stage.url

%p
  %strong Branch:
  = @stage.branch

%p
  %strong Deployed at:
  = @stage.deployed_at

%p
  %strong Comment:
  = @stage.comment

%p
  %strong State:
  = @stage.state

%p
  %strong Locked:
  = @stage.locked

= link_to 'Edit', edit_stage_path(@stage)
\|
= link_to 'Back', stages_path
